<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><span>Formularium KAEF</span></a>
    <img src="https://img.icons8.com/clouds/100/000000/hiragana-ma.png" />
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/items">Katalog Obat</a></li>
      <li><a href="/buys">Pelanggan</a></li>
      <li><a href="/about">Add Items</a></li>
      <li><a href="/">Logout</a></li>
    </ul>
  </div>
</nav>