<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keyword Penyakit</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('../components/navbar')%>

    <h2 class="keyword">Daftar Keyword Penyakit</h2>

    <div class="container-keyword">
      <ul>
        <% keywords.forEach(function(keyword) { %>
        <li class="waves-effect waves-light btn"><%= keyword.nama_keyword%></li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
